---
import Layout from '../layouts/Layout.astro'

const posts = await Astro.glob('../pages/posts/*.md')
---

<Layout title="André Alves - Blog">
  <ul>
    {
      posts.map((post, index) => (
        <li class="pb-4 border-slate-500 border-b-2">
          <a class="flex" href={post.url}>
            <span class="mr-3 text-slate-500">{index + 1}</span>
            <div class="flex justify-between w-full">
              <div>{post.frontmatter.title}</div>

              <div class="text-slate-500">{post.frontmatter.pubDate}</div>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
