---
import Layout from '../layouts/Layout.astro'
import OpenSourceList from '../components/OpenSourceList'
import HeroSection from '../components/HeroSection'
import ProjectsList from '../components/ProjectsList'
import Skills from '../components/Skills'
import Posts from '../components/Posts'

let posts = await Astro.glob('../pages/blog/*.md')
posts = posts
  .sort(
    (p1, p2) =>
      Date.parse(p2.frontmatter.pubDate) - Date.parse(p1.frontmatter.pubDate)
  )
  .slice(0, 4)
---

<Layout
  title="André Alves - Software Engineer"
  description="I'm André Alves, a Software Engineer and Web Developer. 
  This is my personal website/blog were I share my experiences and knologe."
>
  <main>
    <HeroSection />
    <ProjectsList />
    <OpenSourceList />
    <Posts title="Latest posts" posts={posts} />
    <Skills />
  </main>
</Layout>
