---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import TextGradient from '../components/TextGradient'
import OpenSourceList from '../components/OpenSourceList'
import HeroSection from '../components/HeroSection'
import ProjectsList from '../components/ProjectsList'
import Skills from '../components/Skills'
---

<Layout
  title="André Alves - Software Engineer"
  description="André Alves is a Software Engineer and full stack web developer."
>
  <main>
    <HeroSection />
    <ProjectsList />
    <OpenSourceList />
    <Skills />
  </main>
</Layout>
