---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import TextGradient from '../components/TextGradient'
import OpenSourceList from '../components/OpenSourceList'
import HeroSection from '../components/HeroSection'
---

<Layout title="André Alves">
  <main>
    <HeroSection />
    <OpenSourceList />
  </main>
</Layout>
