---
import Layout from '../layouts/Layout.astro';
import OpenSourceList from '../components/OpenSourceList';
---

<Layout title="Projects | André Alves">
	<main>
		<OpenSourceList client:load />
	</main>
</Layout>
