---
import Layout from './Layout.astro'

const { frontmatter } = Astro.props
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
  author={frontmatter.author}
  keywords={frontmatter.tags.toString()}
>
  <main class="mt-10 flex justify-center bg-neutral-800 rounded py-8">
    <article class="prose prose-invert">
      <slot />
    </article>
  </main>
</Layout>
